.nav {
    grid-area: nav;
    background-color: lavenderblush;
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
    font-family: "Lucida Calligraphy", serif;
}