.app_wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
"header header"
"nav content";

    grid-template-rows: 60px;
    grid-template-columns: 1.5fr 10.5fr;
    grid-gap: 10px;
    font-family: "Lucida Sans Typewriter", serif;
}

.app_wrapper_content {
    grid-area: content;
    background-color: lightgrey;
    margin-right: 10px;
}